@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    min-height: 50vw;
    padding-top: 10vw;

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajuste para desktop */
        gap: 24px;
        justify-content: center; /* Centraliza o conteúdo da grid */
        width: 100%;
        max-width: 1000px; /* Define um max-width para evitar que a grid se estenda demais */
        margin: 0 auto; /* Centraliza a grid horizontalmente no contêiner pai */

        @media (max-width: 768px) {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajuste para telas menores */
        }

        &--is-active {
            display: grid;
        }

        &__item {
            max-width: 100%;
            aspect-ratio: 630 / 378; /* Mantém a proporção da imagem */
            overflow: hidden;
            position: relative;

            @media (max-width: 768px) {
                display: block;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            white-space: nowrap;
            overflow-x: scroll;
            padding-left: 20px;
        }

        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 2vw;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw 3vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is-active {
                border-color: variaveis.$corTextoSecundario;
            }

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
}
